---
import { CollectionEntry, getCollection } from "astro:content";
import { format } from "date-fns";
import Page from "../../layouts/Page.astro";

export interface Props {
  project: CollectionEntry<"project">;
}

export const getStaticPaths = async () => {
  const projects = await getCollection("project");

  const projectResults = projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));

  return projectResults;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Page>
  <p>
    Last updated: <time>{format(project.data.lastUpdated, "LLLL do yyyy")}</time
    >
  </p>
  <article class="markdown mb-10">
    <h1>{project.data.title}</h1>

    <Content />
  </article>
</Page>
