---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Page not found" description="Could not find this page">
  <main class="text-center">
    <h1 class="text-4xl font-bold">This page does not exist!</h1>
  </main>
</PageLayout>
