---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="content max-w-[500px] center flex flex-col gap-3">
      <h1 class="text-2xl font-bold">‍🚀 omfj.no</h1>
      <p>
        My name is Ole Magnus. Currently I am studying Computer Technology at
        the University of Bergen. I am interested in web development, and I have
        a passion for learning new things.
      </p>
      <p>
        I am also a member of <a href="https://github.com/echo-webkom"
          >echo Webkom</a
        > at the University of Bergen. Here I help develop and maintain the website
        of <a href="https://echo.uib.no">echo</a>.
      </p>
      <p>
        When I am not at the computer I enjoy playing video games. I also do
        Tennis during the summer and downhill skiing during the winter.
      </p>
      <p>
        Wanna read about some of my projects? Check out my <a href="/projects"
          >projects page</a
        >.
      </p>
      <p>
        Wanna get in touch? Check out my <a href="/contact">contact page</a>.
      </p>
    </div>
  </main>
</PageLayout>
