---
import Page from "../layouts/Page.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("project");
---

<Page>
  <section class="flex flex-col gap-3">
    <h1 class="text-4xl font-semibold">Projects</h1>
    <ul class="flex flex-col gap-5">
      {
        projects.map((project) => (
          <li>
            <PostCard
              url={`/project/${project.slug}`}
              frontmatter={project.data}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Page>
