---
import Page from "../layouts/Page.astro";
import type { MarkdownInstance } from "astro";
import type { ThoughtFrontmatter } from "../types";
import ThoughtCard from "../components/ThoughtCard.astro";

const thoughts = (
  await Astro.glob<MarkdownInstance<ThoughtFrontmatter>>("./thought/*.{md,mdx}")
).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Page>
  <section class="flex flex-col gap-3">
    <h1 class="text-4xl font-semibold">Thoughts</h1>
    <ul class="flex flex-col gap-5">
      {
        thoughts.map((thought) => (
          <li>
            <ThoughtCard
              url={thought.url ?? "/404"}
              frontmatter={thought.frontmatter}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Page>
