---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "px-3 py-1 rounded-lg hover:bg-white/10 transition-all",
    isActive && "font-bold",
  ]}
>
  <slot />
</a>
