---
import HeaderIconLink from "./HeaderIconLink.astro";
import Spacer from "./Spacer.astro";
import { Icon } from "astro-icon";
import HeaderLink from "./HeaderLink.astro";

const navItems = [
  { title: "Home", to: "/" },
  { title: "Projects", to: "/projects" },
  { title: "Contact", to: "/contact" },
];
---

<div id="header" class="flex flex-col mb-10">
  <header class="bg-[#333] flex flex-row py-8 px-10">
    <h2 class="font-bold text-[#eee] text-4xl">omfj.no</h2>
    <Spacer />
    <nav class="flex flex-row items-center gap-2">
      <div class="hidden md:flex flex-row gap-3">
        {
          navItems.map(({ title, to }) => (
            <HeaderLink href={to}>{title}</HeaderLink>
          ))
        }
      </div>

      <button class="modal-toggle md:hidden w-8 h-8 hover:cursor-pointer">
        <Icon class="text-[#ddd]" name="mdi:menu" />
      </button>
      <HeaderIconLink href="https://github.com/omfj" name="mdi:github" />
    </nav>
  </header>
  <div class="flex flex-row w-full h-2">
    <div class="bg-[#007ACC] w-1/2"></div>
    <div class="bg-[#ffff73] w-1/2"></div>
  </div>
</div>

<div
  id="modal"
  class="hidden fixed z-50 top-0 right-0 bottom-0 m-0 left-0 h-screen w-full py-4 px-5 bg-slate-50 dark:bg-[#151515]"
>
  <div
    class="flex flex-row items-center justify-between border-b pb-3 border-neutral-500 mb-10"
  >
    <a href="https://github.com/omfj">
      <Icon name="mdi:github" class="text-white h-10 w-10" />
    </a>
    <p class="text-2xl font-bold">omfj.no</p>
    <Icon
      name="mdi:close"
      class="text-white h-10 w-10 modal-toggle hover:cursor-pointer"
    />
  </div>
  <div>
    <div class="flex flex-col gap-10 text-center">
      {
        navItems.map(({ title, to }) => (
          <a class="text-4xl hover:underline" href={to}>
            {title}
          </a>
        ))
      }
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById("modal");

  const toggle = () => {
    modal?.classList.toggle("hidden");
    document.body.classList.toggle("overflow-hidden");
  };

  const modalToggle = document.querySelectorAll(".modal-toggle");
  modalToggle?.forEach((elem) => {
    elem.addEventListener("click", toggle);
  });
</script>
