---
import Spacer from "./Spacer.astro";
import { Icon } from "astro-icon";
import HeaderLink from "./HeaderLink.astro";
import Footer from "./Footer.astro";

const navItems = [
  { title: "Home", to: "/" },
  { title: "Projects", to: "/projects" },
  { title: "Contact", to: "/contact" },
];
---

<div class="flex flex-row w-full h-[2px]">
  <div class="bg-[#007ACC] w-1/2"></div>
  <div class="bg-[#ffff73] w-1/2"></div>
</div>

<div
  id="header"
  class="flex flex-col mb-10 md:mb-20 transition-all duration-150 ease-in-out"
>
  <header
    class="flex flex-col border-b border-neutral-500 transition-all duration-200"
  >
    <div class="flex flex-row px-5 md:px-10 py-2 justify-between items-center">
      <button
        class="h-8 w-8 text-white hover:text-white transition-colors duration-200"
      >
        <a href="https://github.com/omfj">
          <Icon class="text-white" name="mdi:github" />
        </a>
      </button>

      <a class="hover:no-underline" href="/">
        <p class="font-bold text-2xl text-white">omfj.no</p>
      </a>

      <button
        class="dropdown-toggle h-8 w-8 hover:cursor-pointer text-white transition-colors duration-200"
      >
        <Icon class="header" name="mdi:menu" />
        <Icon class="hidden is-dropdown" name="mdi:close" />
      </button>
    </div>
    <div class="hidden is-dropdown p-4 border-t border-neutral-500">
      <div class="flex flex-col md:flex-row gap-7 text-center mx-auto w-fit">
        {
          navItems.map(({ title, to }) => (
            <div class="text-lg hover:underline">
              <HeaderLink to={to}>{title}</HeaderLink>
            </div>
          ))
        }
      </div>
    </div>
  </header>
</div>

<script>
  const toggle = () => {
    const header = document.querySelectorAll(".header");
    const isDropdown = document.querySelectorAll(".is-dropdown");

    isDropdown.forEach((el) => {
      el.classList.toggle("hidden");
    });

    header.forEach((el) => {
      el.classList.toggle("hidden");
    });
  };

  const dropdownToggle = document.querySelectorAll(".dropdown-toggle");
  dropdownToggle?.forEach((elem) => {
    elem.addEventListener("click", toggle);
  });
</script>
