<div id="menu">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<style>
  :root {
    --top: 0px;
    --middle: 8px;
    --bottom: 16px;
    --width: 28px;
  }

  #menu {
    height: var(--bottom);
    width: var(--width);
    position: relative;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  #menu span {
    display: block;
    position: absolute;
    background-color: white;
    height: 3px;
    width: 100%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #menu span:nth-child(1) {
    top: var(--top);
  }

  #menu span:nth-child(2),
  #menu span:nth-child(3) {
    top: var(--middle);
  }

  #menu span:nth-child(4) {
    top: var(--bottom);
  }

  #menu.open span:nth-child(1) {
    opacity: 0;
    top: var(--middle);
  }

  #menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #menu.open span:nth-child(4) {
    opacity: 0;
    top: var(--middle);
  }
</style>

<script>
  const menu = document.querySelector("#menu");

  menu?.addEventListener("click", () => {
    menu?.classList.toggle("open");
  });
</script>
