---
import { Icon } from "astro-icon";
---

<div class="flex flex-col md:hidden">
  <button class="menu-toggle w-6 h-6 hover:cursor-pointer">
    <Icon class="text-[#ddd]" name="mdi:menu" />
  </button>
</div>
