---
import { motion } from "framer-motion";

export interface Props {
  title: string;
  description: string;
  to: URL;
}

const { title, description, to } = Astro.props;
---

<motion.div
  client:visible
  initial={{ opacity: 0, y: 100 }}
  whileInView={{ opacity: 1, y: 0 }}
  transition={{ duration: 0.5 }}
  viewport={{ once: true }}
>
  <div class="flex flex-col px-2 border border-neutral-500 p-2 rounded">
    <h1 class="border-b-neutral-500 border-b w-fit text-lg">{title}</h1>
    <p>{description}</p>
    <a href={to} class="mt-2 w-fit">Read more</a>
  </div>
</motion.div>
