---
import { format } from "date-fns";
import type { ProjectFrontmatter } from "../content/_schemas";

export interface Props {
  url: string;
  frontmatter: ProjectFrontmatter;
}

const { url, frontmatter } = Astro.props satisfies Props;
---

<a
  href={url}
  class="flex flex-col bg-white/5 hover:bg-white/10 rounded-md px-3 py-4"
>
  <time class="text-sm text-fg/60"
    >Last updated: {
      format(new Date(frontmatter.lastUpdated), "MMM do yyyy")
    }</time
  >

  <div class="flex flex-col gap-2">
    <p class="text-xl font-semibold">{frontmatter.title}</p>
    <p>{frontmatter.description}</p>
  </div>
</a>
