---
import { format } from "date-fns";
import type { ThoughtFrontmatter } from "../types";

export interface Props {
  url: string;
  frontmatter: ThoughtFrontmatter;
}

const { url, frontmatter } = Astro.props as Props;
---

<a
  href={url}
  class="flex flex-col bg-white/5 hover:bg-white/10 rounded-md px-3 py-4"
>
  <time class="text-sm text-fg/60"
    >Published: {format(new Date(frontmatter.pubDate), "MMM do yyyy")}</time
  >
  <div class="flex flex-col gap-2">
    <p class="text-xl font-semibold">{frontmatter.title}</p>
    <p>{frontmatter.description}</p>
  </div>
</a>
