{% extends "base.html" %}
{% block title %}omfj.no{% endblock %}
{% block content %}
  <main>
    <h1 class="sr-only">omfj.no</h1>
    <p>My name is Ole Magnus. I am 23 year old software engineer from Norway. Big fan of Pryda and RBK.</p>
    <br>
    <p>If you are interested, you can find <a href="/static/assets/cv.pdf" class="link">my resumè here</a>.</p>
    <br>
    <h2 class="heading-2">Socials</h2>
    <br>
    <ul>
      <li>
        - <a href="https://github.com/omfj" class="link">GitHub</a>
        <span class="text-foreground-muted text-sm">(@omfj)</span>
      </li>
      <li>
        - <a href="https://bsky.app/profile/omfj.no" class="link">Bluesky</a>
        <span class="text-foreground-muted text-sm">(@omfj.no)</span>
      </li>
      <li>
        - <a href="https://www.linkedin.com/in/omfj" class="link">LinkedIn</a>
        <span class="text-foreground-muted text-sm">(in/omfj)</span>
      </li>
      <li>
        - <a href="mailto:me@omfj.no" class="link">E-mail</a>
        <span class="text-foreground-muted text-sm">(me@omfj.no)</span>
      </li>
    </ul>
  </main>
{% endblock %}
