---
import { Icon } from "astro-icon";
import { format } from "date-fns";
import type { ThoughtFrontmatter } from "../types";
import Page from "./Page.astro";

export interface Props {
  content: ThoughtFrontmatter;
}

const {
  content: { title, links, pubDate },
} = Astro.props;
---

<Page>
  <p>
    Published: <time>{format(new Date(pubDate), "LLLL do yyyy")}</time>
  </p>
  <article class="markdown mb-10">
    <h1>{title}</h1>

    <slot />
  </article>
  {
    links && (
      <>
        <h2 class="text-2xl font-bold mb-2">Links:</h2>
        <div class="flex flex-col gap-2">
          {Object.entries(links).map(([name, link], i) => (
            <a
              class="flex underline gap-1 items-center w-fit"
              href={link}
              target="_blank"
              rel="noopener noreferrer"
            >
              {name}
              <Icon class="h-4 w-4" name="mdi:external-link" />
            </a>
          ))}
        </div>
      </>
    )
  }
</Page>
