@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffee;
    --forground: #1e1e1e;
  }
}

@layer base {
  body {
    @apply m-0 bg-background font-primary text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
