@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Comfortaa";
    src: url("../public/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
  }

  * {
    @apply box-border;
  }

  html,
  body {
    @apply p-0 m-0 font-sans font-extralight text-stone-900 dark:text-slate-50;
  }

  .construction {
    @apply rounded-lg border-2 border-black p-2 text-center w-fit m-auto;
  }

  .react-markdown {
    @apply flex tracking-wider flex-col gap-5 text-xl;
  }

  .react-markdown li {
    @apply list-disc ml-5;
  }

  .react-markdown a {
    @apply text-blue-500 underline hover:text-cyan-200 transition-colors;
  }
}

.construction {
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
}
