@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
  font-size: large;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: white;
  background: #070707;
}

.construction {
  border-radius: 0.5rem;
  border: 2px solid black;
  padding: 0.5rem;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
}
